{% extends "base.html" %}
{% block title %}My Pages - Jottit{% endblock %}

{% block body %}
<div class="panel-page">
    <a href="/" class="panel-back">&larr; Home</a>
    <h1 class="title">My Pages</h1>
    <div class="panel panel--compact">
        {% if pages %}
        <ul class="menu-list">
            {% for page in pages %}
            <li>
                <a href="{% if username %}/@{{ username }}/{{ page.slug }}{% else %}/{{ page.slug }}{% endif %}" class="menu-list-link">
                    <span class="menu-list-name">{{ page.title }} <span class="visibility-label visibility-label--{{ page.visibility }}">{{ page.visibility }}</span></span>
                    <span class="menu-list-url">{{ page.updated_at | relative_time }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="panel-empty">No pages yet. <a href="/new">Create one</a>.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
